<a href="https://colab.research.google.com/github/SkeletonKing240/My-Projects/blob/main/Hackathon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting surprise
  Downloading surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 4.3 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.2.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.7.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1634001 sha256=4abcfcfa024eedc3cf3cab1896c682089976380439a0df158793ec160604b31d
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [3]:
#importing basic libraries for the project

# Libraries to help with reading and manipulating data
import pandas as pd
import numpy as np

# Libaries to help with data visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# Importing the Machine Learning models we require from Scikit-Learn
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

# Importing the other functions we may require from Scikit-Learn
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, OneHotEncoder

# To get diferent metric scores
from sklearn.metrics import confusion_matrix,classification_report,roc_auc_score,plot_confusion_matrix,precision_recall_curve,roc_curve,make_scorer

# Code to ignore warnings from function usage
import warnings;
import numpy as np
warnings.filterwarnings('ignore')



# Slightly advanced library for data visualization            
import seaborn as sns                           

# A dictionary output that does not raise a key error
from collections import defaultdict             

# A performance metrics in surprise
from surprise import accuracy

# Class is used to parse a file containing ratings, data should be in structure - user ; item ; rating
from surprise.reader import Reader

# Class for loading datasets
from surprise.dataset import Dataset

# For model tuning model hyper-parameters
from surprise.model_selection import GridSearchCV

# For splitting the rating data in train and test dataset
from surprise.model_selection import train_test_split

# For implementing similarity based recommendation system
from surprise.prediction_algorithms.knns import KNNBasic

# For implementing matrix factorization based recommendation system
from surprise.prediction_algorithms.matrix_factorization import SVD

# For implementing cross validation
from surprise.model_selection import KFold

In [5]:
data = pd.read_csv('Traveldata_train.csv')

In [6]:
data = pd.read_csv('Surveydata_train.csv')

In [7]:
data.head()

,ID,Overall_Experience,Seat_Comfort,Seat_Class,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,Needs Improvement,Green Car,Excellent,Excellent,Very Convenient,Good,Needs Improvement,Acceptable,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Good,Needs Improvement,Poor
1,98800002,0,Poor,Ordinary,Excellent,Poor,Needs Improvement,Good,Poor,Good,Good,Excellent,Needs Improvement,Poor,Needs Improvement,Good,Good
2,98800003,1,Needs Improvement,Green Car,Needs Improvement,Needs Improvement,Needs Improvement,Needs Improvement,Good,Excellent,Excellent,Excellent,Excellent,Excellent,Good,Excellent,Excellent
3,98800004,0,Acceptable,Ordinary,Needs Improvement,NaN,Needs Improvement,Acceptable,Needs Improvement,Acceptable,Acceptable,Acceptable,Acceptable,Acceptable,Good,Acceptable,Acceptable
4,98800005,1,Acceptable,Ordinary,Acceptable,Acceptable,Manageable,Needs Improvement,Good,Excellent,Good,Good,Good,Good,Good,Good,Good

In [8]:
data.tail()

,ID,Overall_Experience,Seat_Comfort,Seat_Class,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
40516,98840517,1,Poor,Ordinary,Poor,Good,Inconvenient,Good,Excellent,Excellent,Excellent,Excellent,Excellent,Excellent,Acceptable,Excellent,Excellent
40517,98840518,0,Needs Improvement,Ordinary,Good,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Acceptable,Acceptable,Good,Acceptable,Excellent,Good,Excellent,Acceptable
40518,98840519,0,Poor,Green Car,Extremely Poor,Poor,Needs Improvement,Acceptable,Poor,Acceptable,Acceptable,Good,Good,Excellent,Good,Excellent,Acceptable
40519,98840520,1,Excellent,Green Car,Excellent,Excellent,Very Convenient,Needs Improvement,Good,Poor,Excellent,Excellent,Excellent,Excellent,Needs Improvement,Excellent,Poor
40520,98840521,1,Excellent,Ordinary,Extremely Poor,Good,Manageable,Good,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Good,Excellent,Needs Improvement,Good,N

In [9]:
data.info

<bound method DataFrame.info of              ID  Overall_Experience       Seat_Comfort Seat_Class  \
0      98800001                   0  Needs Improvement  Green Car
1      98800002                   0               Poor   Ordinary
2      98800003                   1  Needs Improvement  Green Car
3      98800004                   0         Acceptable   Ordinary
4      98800005                   1         Acceptable   Ordinary
...         ...                 ...                ...        ...
40516  98840517                   1               Poor   Ordinary
40517  98840518                   0  Needs Improvement   Ordinary
40518  98840519                   0               Poor  Green Car
40519  98840520                   1          Excellent  Green Car
40520  98840521                   1          Excellent   Ordinary

      Arrival_Time_Convenient           Catering  Platform_Location  \
0                   Excellent          Excellent    Very Convenient
1                   Excellent               Poor  Needs Improvement
2           Needs Improvement  Needs Improvement  Needs Improvement
3           Needs Improvement                NaN  Needs Improvement
4                  Acceptable         Acceptable         Manageable
...                       ...                ...                ...
40516                    Poor               Good       Inconvenient
40517                    Good  Needs Improvement  Needs Improvement
40518          Extremely Poor               Poor  Needs Improvement
40519               Excellent          Excellent    Very Convenient
40520          Extremely Poor               Good         Manageable

      Onboard_Wifi_Service Onboard_Entertainment     Online_Support  \
0                     Good     Needs Improvement         Acceptable
1                     Good                  Poor               Good
2        Needs Improvement                  Good          Excellent
3               Acceptable     Needs Improvement         Acceptable
4        Needs Improvement                  Good          Excellent
...                    ...                   ...                ...
40516                 Good             Excellent          Excellent
40517           Acceptable     Needs Improvement         Acceptable
40518           Acceptable                  Poor         Acceptable
40519    Needs Improvement                  Good               Poor
40520                 Good     Needs Improvement  Needs Improvement

      Ease_of_Online_Booking    Onboard_Service            Legroom  \
0          Needs Improvement  Needs Improvement         Acceptable
1                       Good          Excellent  Needs Improvement
2                  Excellent          Excellent          Excellent
3                 Acceptable         Acceptable         Acceptable
4                       Good               Good               Good
...                      ...                ...                ...
40516              Excellent          Excellent          Excellent
40517             Acceptable               Good         Acceptable
40518             Acceptable               Good               Good
40519              Excellent          Excellent          Excellent
40520             Acceptable  Needs Improvement               Good

        Baggage_Handling    CheckIn_Service        Cleanliness Online_Boarding
0      Needs Improvement               Good  Needs Improvement            Poor
1                   Poor  Needs Improvement               Good            Good
2              Excellent               Good          Excellent       Excellent
3             Acceptable               Good         Acceptable      Acceptable
4                   Good               Good               Good            Good
...                  ...                ...                ...             ...
40516          Excellent         Acceptable          Excellent       Excellent
40517          Excellent               Good          Excellent      Acceptable
40518          Excellent               Good          Excellent      Acceptable
40519          Excellent  Needs Improvement          Excellent            Poor
40520          Excellent  Needs Improvement               Good               N

[40521 rows x 17 columns]>

In [10]:
data.isnull()

,ID,Overall_Experience,Seat_Comfort,Seat_Class,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40516,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
40517,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
40518,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
40519,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
40520,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
bad_char = ["#", "$", "&"]
data.replace(bad_char)

,ID,Overall_Experience,Seat_Comfort,Seat_Class,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,Needs Improvement,Green Car,Excellent,Excellent,Very Convenient,Good,Needs Improvement,Acceptable,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Good,Needs Improvement,Poor
1,98800002,0,Poor,Ordinary,Excellent,Poor,Needs Improvement,Good,Poor,Good,Good,Excellent,Needs Improvement,Poor,Needs Improvement,Good,Good
2,98800003,1,Needs Improvement,Green Car,Needs Improvement,Needs Improvement,Needs Improvement,Needs Improvement,Good,Excellent,Excellent,Excellent,Excellent,Excellent,Good,Excellent,Excellent
3,98800004,0,Acceptable,Ordinary,Needs Improvement,NaN,Needs Improvement,Acceptable,Needs Improvement,Acceptable,Acceptable,Acceptable,Acceptable,Acceptable,Good,Acceptable,Acceptable
4,98800005,1,Acceptable,Ordinary,Acceptable,Acceptable,Manageable,Needs Improvement,Good,Excellent,Good,Good,Good,Good,Good,Good,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40516,98840517,1,Poor,Ordinary,Poor,Good,Inconvenient,Good,Excellent,Excellent,Excellent,Excellent,Excellent,Excellent,Acceptable,Excellent,Excellent
40517,98840518,0,Needs Improvement,Ordinary,Good,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Acceptable,Acceptable,Good,Acceptable,Excellent,Good,Excellent,Acceptable
40518,98840519,0,Poor,Green Car,Extremely Poor,Poor,Needs Improvement,Acceptable,Poor,Acceptable,Acceptable,Good,Good,Excellent,Good,Excellent,Acceptable
40519,98840520,1,Excellent,Green Car,Excellent,Excellent,Very Convenient,Needs Improvement,Good,Poor,Excellent,Excellent,Excellent,Excellent,Needs Improvement,Excellent,Poor
40520,98840521,1,Excellent,Ordinary,Extremely Poor,Good,Manageable,Good,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Good,Excellent,Needs Improvement,Good,N

In [19]:
data = data.dropna()

In [20]:
data.head()

,ID,Overall_Experience,Seat_Class,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,Green Car,Excellent,Excellent,Very Convenient,Good,Needs Improvement,Acceptable,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Good,Needs Improvement,Poor
1,98800002,0,Ordinary,Excellent,Poor,Needs Improvement,Good,Poor,Good,Good,Excellent,Needs Improvement,Poor,Needs Improvement,Good,Good
2,98800003,1,Green Car,Needs Improvement,Needs Improvement,Needs Improvement,Needs Improvement,Good,Excellent,Excellent,Excellent,Excellent,Excellent,Good,Excellent,Excellent
4,98800005,1,Ordinary,Acceptable,Acceptable,Manageable,Needs Improvement,Good,Excellent,Good,Good,Good,Good,Good,Good,Good
5,98800006,1,Ordinary,Needs Improvement,Acceptable,Needs Improvement,Good,Excellent,Good,Acceptable,Acceptable,Good,Acceptable,Acceptable,Acceptable,Acceptable

In [21]:
data.drop("Seat_Class", axis=1, inplace=True)

In [22]:
data.head()

,ID,Overall_Experience,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,Excellent,Excellent,Very Convenient,Good,Needs Improvement,Acceptable,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Good,Needs Improvement,Poor
1,98800002,0,Excellent,Poor,Needs Improvement,Good,Poor,Good,Good,Excellent,Needs Improvement,Poor,Needs Improvement,Good,Good
2,98800003,1,Needs Improvement,Needs Improvement,Needs Improvement,Needs Improvement,Good,Excellent,Excellent,Excellent,Excellent,Excellent,Good,Excellent,Excellent
4,98800005,1,Acceptable,Acceptable,Manageable,Needs Improvement,Good,Excellent,Good,Good,Good,Good,Good,Good,Good
5,98800006,1,Needs Improvement,Acceptable,Needs Improvement,Good,Excellent,Good,Acceptable,Acceptable,Good,Acceptable,Acceptable,Acceptable,Acceptable

In [24]:
data.drop("Arrival_Time_Convenient", axis=1, inplace=True)

In [25]:
data.head()

,ID,Overall_Experience,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,Excellent,Very Convenient,Good,Needs Improvement,Acceptable,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Good,Needs Improvement,Poor
1,98800002,0,Poor,Needs Improvement,Good,Poor,Good,Good,Excellent,Needs Improvement,Poor,Needs Improvement,Good,Good
2,98800003,1,Needs Improvement,Needs Improvement,Needs Improvement,Good,Excellent,Excellent,Excellent,Excellent,Excellent,Good,Excellent,Excellent
4,98800005,1,Acceptable,Manageable,Needs Improvement,Good,Excellent,Good,Good,Good,Good,Good,Good,Good
5,98800006,1,Acceptable,Needs Improvement,Good,Excellent,Good,Acceptable,Acceptable,Good,Acceptable,Acceptable,Acceptable,Acceptable

In [26]:
data.drop("Catering", axis=1, inplace=True)

In [28]:
data.head()

,ID,Overall_Experience,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,Very Convenient,Good,Needs Improvement,Acceptable,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Good,Needs Improvement,Poor
1,98800002,0,Needs Improvement,Good,Poor,Good,Good,Excellent,Needs Improvement,Poor,Needs Improvement,Good,Good
2,98800003,1,Needs Improvement,Needs Improvement,Good,Excellent,Excellent,Excellent,Excellent,Excellent,Good,Excellent,Excellent
4,98800005,1,Manageable,Needs Improvement,Good,Excellent,Good,Good,Good,Good,Good,Good,Good
5,98800006,1,Needs Improvement,Good,Excellent,Good,Acceptable,Acceptable,Good,Acceptable,Acceptable,Acceptable,Acceptable

In [30]:
data.drop("Platform_Location", axis=1, inplace=True)

In [31]:
data.head()

,ID,Overall_Experience,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,Good,Needs Improvement,Acceptable,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Good,Needs Improvement,Poor
1,98800002,0,Good,Poor,Good,Good,Excellent,Needs Improvement,Poor,Needs Improvement,Good,Good
2,98800003,1,Needs Improvement,Good,Excellent,Excellent,Excellent,Excellent,Excellent,Good,Excellent,Excellent
4,98800005,1,Needs Improvement,Good,Excellent,Good,Good,Good,Good,Good,Good,Good
5,98800006,1,Good,Excellent,Good,Acceptable,Acceptable,Good,Acceptable,Acceptable,Acceptable,Acceptable

In [33]:
data.drop("Onboard_Wifi_Service", axis=1, inplace=True)

In [34]:
data.head()

,ID,Overall_Experience,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,Needs Improvement,Acceptable,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Good,Needs Improvement,Poor
1,98800002,0,Poor,Good,Good,Excellent,Needs Improvement,Poor,Needs Improvement,Good,Good
2,98800003,1,Good,Excellent,Excellent,Excellent,Excellent,Excellent,Good,Excellent,Excellent
4,98800005,1,Good,Excellent,Good,Good,Good,Good,Good,Good,Good
5,98800006,1,Excellent,Good,Acceptable,Acceptable,Good,Acceptable,Acceptable,Acceptable,Acceptable

In [35]:
data.drop("Onboard_Entertainment", axis=1, inplace=True)

In [36]:
data.head()

,ID,Overall_Experience,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,Acceptable,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Good,Needs Improvement,Poor
1,98800002,0,Good,Good,Excellent,Needs Improvement,Poor,Needs Improvement,Good,Good
2,98800003,1,Excellent,Excellent,Excellent,Excellent,Excellent,Good,Excellent,Excellent
4,98800005,1,Excellent,Good,Good,Good,Good,Good,Good,Good
5,98800006,1,Good,Acceptable,Acceptable,Good,Acceptable,Acceptable,Acceptable,Acceptable

In [37]:
data.drop("Online_Support", axis=1, inplace=True)

In [38]:
data.head()

,ID,Overall_Experience,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,Needs Improvement,Needs Improvement,Acceptable,Needs Improvement,Good,Needs Improvement,Poor
1,98800002,0,Good,Excellent,Needs Improvement,Poor,Needs Improvement,Good,Good
2,98800003,1,Excellent,Excellent,Excellent,Excellent,Good,Excellent,Excellent
4,98800005,1,Good,Good,Good,Good,Good,Good,Good
5,98800006,1,Acceptable,Acceptable,Good,Acceptable,Acceptable,Acceptable,Acceptable

In [41]:
data.drop("Ease_of_Online_Booking", axis=1, inplace=True)

In [42]:
data.head()

,ID,Overall_Experience,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,Needs Improvement,Acceptable,Needs Improvement,Good,Needs Improvement,Poor
1,98800002,0,Excellent,Needs Improvement,Poor,Needs Improvement,Good,Good
2,98800003,1,Excellent,Excellent,Excellent,Good,Excellent,Excellent
4,98800005,1,Good,Good,Good,Good,Good,Good
5,98800006,1,Acceptable,Good,Acceptable,Acceptable,Acceptable,Acceptable

In [43]:
data.drop("Onboard_Service", axis=1, inplace=True)

In [44]:
data.head()

,ID,Overall_Experience,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,Acceptable,Needs Improvement,Good,Needs Improvement,Poor
1,98800002,0,Needs Improvement,Poor,Needs Improvement,Good,Good
2,98800003,1,Excellent,Excellent,Good,Excellent,Excellent
4,98800005,1,Good,Good,Good,Good,Good
5,98800006,1,Good,Acceptable,Acceptable,Acceptable,Acceptable

In [45]:
data.drop("Legroom", axis=1, inplace=True)

In [47]:
data.head()

,ID,Overall_Experience,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,Needs Improvement,Good,Needs Improvement,Poor
1,98800002,0,Poor,Needs Improvement,Good,Good
2,98800003,1,Excellent,Good,Excellent,Excellent
4,98800005,1,Good,Good,Good,Good
5,98800006,1,Acceptable,Acceptable,Acceptable,Acceptable

In [48]:
data.drop("Baggage_Handling", axis=1, inplace=True)

In [49]:
data.head()

,ID,Overall_Experience,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,Good,Needs Improvement,Poor
1,98800002,0,Needs Improvement,Good,Good
2,98800003,1,Good,Excellent,Excellent
4,98800005,1,Good,Good,Good
5,98800006,1,Acceptable,Acceptable,Acceptable

In [50]:
data.drop("CheckIn_Service", axis=1, inplace=True)

In [51]:
data.head()

         ID  Overall_Experience        Cleanliness Online_Boarding
0  98800001                   0  Needs Improvement            Poor
1  98800002                   0               Good            Good
2  98800003                   1          Excellent       Excellent
4  98800005                   1               Good            Good
5  98800006                   1         Acceptable      Acceptable

In [52]:
data.drop("Cleanliness", axis=1, inplace=True)

In [53]:
data.head()

         ID  Overall_Experience Online_Boarding
0  98800001                   0            Poor
1  98800002                   0            Good
2  98800003                   1       Excellent
4  98800005                   1            Good
5  98800006                   1      Acceptable

In [54]:
data.drop("Online_Boarding", axis=1, inplace=True)

In [55]:
data.head()

         ID  Overall_Experience
0  98800001                   0
1  98800002                   0
2  98800003                   1
4  98800005                   1
5  98800006                   1

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29693 entries, 0 to 40520
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  29693 non-null  int64
 1   Overall_Experience  29693 non-null  int64
dtypes: int64(2)
memory usage: 695.9 KB

In [57]:
data.describe()

                 ID  Overall_Experience
count  2.969300e+04        29693.000000
mean   9.882022e+07            0.544943
std    1.171220e+04            0.497984
min    9.880000e+07            0.000000
25%    9.881009e+07            0.000000
50%    9.882019e+07            1.000000
75%    9.883037e+07            1.000000
max    9.884052e+07            1.000000

In [58]:
data.isnull()

          ID  Overall_Experience
0      False               False
1      False               False
2      False               False
4      False               False
5      False               False
...      ...                 ...
40516  False               False
40517  False               False
40518  False               False
40519  False               False
40520  False               False

[29693 rows x 2 columns]

In [59]:
data.to_csv('HackathonMbuzi.csv', index=False)